input:focus-visible,textarea:focus-visible,select:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

body{

}

main{
position: relative;
display: block;
margin-block: 30px;
}
#head{

}
#head h1{
font-size: 40px;
font-weight: 600;
}
#head h1 small{
font-size: 25px;
color: #838383;
}

#form{
position: relative;
display: block;
background: #d4d4d4;
border-radius: 10px;
padding: 25px;
}
#form h2{
font-size: 25px;
font-weight: 700;
}
#form .all_inputs{

}
#form .all_inputs h4{
font-size: 15px;
font-weight: 700;
}
#form .all_inputs textarea{
position: relative;
display: block;
width: 100%;
min-height: 100px;
max-height: 150px;
margin-bottom: 15px;
}
#form .all_inputs textarea::-webkit-scrollbar{
  width: 10px;
  background: #f1f1f1;
  border-radius: 25px;

}
#form .all_inputs textarea::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
#form .all_inputs input{
position: relative;
display: block;
width: 100%;
margin-bottom: 15px;
}
#form .all_inputs select{
position: relative;
display: block;
width: 100%;
margin-bottom: 15px;
}

#form .btn{
background: #0088ff;
color: #fff;
font-size: 15px;
font-weight: 600;
padding: 5px 15px;
border-radius: 4px;
}

#box{
width: 100%;
background: #d4d4d4;
margin-top: 25px;
border-radius: 3px;
box-shadow: inset -1px -1px 5px #0000001c, inset 1px 1px 5px #0000001c;
padding: 20px 30px;
}

#box small{
font-weight: 700;
display: block;
}
#box span{
position: relative;
display: inline-block;
background: #31b4ff;
color: #fff;
font-size: 10px;
padding: 5px 10px;
border-radius: 3px;
margin-block: 10px;
}
#box h1{
font-size: 25px;
font-weight: 600;
}
#box ul{
position: relative;
display: flex;
padding: 0;
}
#box ul li{
position: relative;
display: block;
margin-right: 10px;
font-weight: 700;
font-size: 15px;
}
#box ul li img{
height: 15px;
margin-right: 3px;
}
#box .btns{

}
#box .btns button{
background: #ffa500;
border: 0;
color: #fff;
padding: 5px 15px;
font-weight: 600;
font-size: 12px;
border-radius: 4px;
}










//
